<!DOCTYPE html>
<html>
<head>
  <title>お小遣い帳オンライン</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
  <script src="http://use.typekit.net/ajf8ggy.js"></script>
  <script>
    try { Typekit.load(); } catch (e) {}
	</script>
</head>
<body>


<div class="content">
  <div class="header">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <%= link_to Settings.app_name, :root, class: "pure-menu-heading" %>
      <ul>
      <% if signed_in? %>
        <%# ログイン済み %>
        <li><%= render partial: '/layouts/user_icon', locals: { user: current_user, size: "18x18", klass: "margin_minus2" } %></li>
        <li><%= link_to( "Items", items_path ) %></li>
        <li><%= link_to( "Logout", logout_path ) %></li>
      <% else %>
        <%# 未ログイン %>
        <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
      <% end %>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>

  <div class="splash">
    <%# 通知／エラーメッセージ %>
    <%= simple_format( flash[:notice], style: "color: green;" ) if flash[:notice].present? %>
    <%= simple_format( flash[:alert], style: "color: red;" ) if flash[:alert].present? %>
    <%= yield :splash %>
  </div>
  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
    Developed by <a href="https://twitter.com/<%= Settings.programmer_twitter_id %>/" target="_blank">@<%= Settings.programmer_twitter_id %></a>,
    Designed by <a href="https://twitter.com/<%= Settings.designer_twitter_id %>/" target="_blank">@<%= Settings.designer_twitter_id %></a>,
    Licence by <a href="https://creativecommons.org/licenses/by-nc-sa/2.1/jp/" target="_blank">CC BY-NC-SA 2.1</a>
  </div>
</div>


</body>
</html>
